.main-container {
  border-radius: 5px;
  padding: 20px;
}

mat-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.schedules-container {
  height: 150px;
  overflow-y: auto;
  padding: 10px;
}

.schedule-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-schedule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

