<mat-toolbar
  color="basic"
  class="mat-elevation-z4"
>
  <span>
    <a routerLink="/" mat-button style="font-size: 1rem">
      <mat-icon>health_and_safety</mat-icon>
      <strong >APLICACIÓN DE SALUD • IPC 2</strong>
    </a>
  </span>

<!--  <span style="flex: 1 1 auto "></span>-->


  <div style="margin-left: 20px; display: flex; flex-direction: row; gap: 0.5rem;">
    <a routerLink="/login" mat-stroked-button color="basic" disabled="true">
      INICIAR SESIÓN
    </a>
    <a routerLink="/register" mat-flat-button color="basic">
      REGISTRARSE
    </a>
  </div>
</mat-toolbar>
<div class="main-container">
  <h1><strong>Bienvenido</strong></h1>
  <div class="login-form">
    <login-form></login-form>
  </div>
</div>
