<div class="container">
  <mat-card class="card">
    <mat-card-content>

      <form (ngSubmit)="onSubmit()" class="form" #initialSetupForm="ngForm">
        <div class="fields">
          <p>
            <strong>
              Elige los tipos de exámenes que ofrecerás y el precio de cada uno.
            </strong>
          </p>
          <div style="
              height: 400px;
              overflow: auto;
              margin-bottom: 20px;
              border: 1px solid #e0e0e0;
              border-radius: 4px;
            ">
            <table mat-table [dataSource]="testTypes">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let testType">
                  <mat-checkbox [(ngModel)]="testType.selected" name="specialityCheckbox"></mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let testType">{{ testType.name }}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let testType"
                    style="
                    max-width: 385px;
                    overflow: auto;
                  "
                >
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                  "
                  >
                    <button mat-icon-button type="button" (click)="showDescriptionDialog(testType)">
                      <mat-icon>sms</mat-icon>
                    </button>
                    <span
                      style="
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      "
                    >
                      {{ testType.description }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="price" >
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let testType">
                  <mat-form-field appearance="outline" style="margin-top: 10px">
                    <input matInput type="number" [(ngModel)]="testType.price" name="price">
                  </mat-form-field>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let speciality; columns: displayedColumns;"></tr>
            </table>
          </div>


        </div>

        <div class="card-actions">
          <button mat-raised-button color="accent" type="submit" [disabled]="!initialSetupForm.valid" >
            <mat-icon>save</mat-icon>
            GUARDAR
          </button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>
</div>
