<div
  class="patient-container"
  *ngIf="currentType === 'patient' || currentType === 'administrator'"
>
  <app-edit-profile-form
   [user]="currentUser"
  ></app-edit-profile-form>
</div>

<div
  class="medic-lab-container"
  *ngIf="currentType === 'medic'"
>
  <app-edit-profile-form
    [user]="currentUser"
  ></app-edit-profile-form>
  <div
    class="extra-info-container"
  >
    <app-schedules-form></app-schedules-form>
    <app-specialities-form></app-specialities-form>
  </div>
</div>

<div
  class="medic-lab-container"
  *ngIf="currentType === 'laboratory'"
>
  <app-edit-profile-form
    [user]="currentUser"
  ></app-edit-profile-form>

</div>

