.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions > * {
  width: 100%;
}
