<mat-toolbar
  color="warn"
  class="mat-elevation-z4"
>
  <span>
    <mat-icon style="margin-bottom: -5px; margin-right: 8px">error</mat-icon>
    Error - Página no encontrada
  </span>

  <span style="flex: 1 1 auto "></span>

  <div style="margin-left: 20px">
    <a routerLink="/" mat-flat-button color="basic">
      INICIO
    </a>
  </div>
</mat-toolbar>
<div class="container">
  <mat-icon class="icon">
    warning
  </mat-icon>
  <h1>
    Lo sentimos, no se ha encontrado la página que buscas
  </h1>
  <a routerLink="/" mat-stroked-button>
    <mat-icon>arrow_back</mat-icon>
    VOLVER AL INICIO
  </a>
</div>
