<div class="main-container">
  <h1 style="font-weight: bold">
    Bienvenid@!
  </h1>
  <p style="font-size: 1.2rem; margin-bottom: 2rem">
    En esta sección podrás agendar tus consultas y solicitar exámenes.
    ¿Qué deseas hacer?
  </p>
  <div class="actions-container">
    <mat-card class="card-container">
      <mat-card-title style="display: flex; flex-direction: column; align-items: center; gap: 0.8rem">
        <mat-icon
          style="font-size: 1.7rem; width: auto; height: auto; margin-bottom: -8px; margin-right: 8px;color: darkslategray"
        >calendar_month</mat-icon>
        Agendar consulta
      </mat-card-title>
      <mat-card-content>
        <a mat-fab color="primary" routerLink="/main-patients/schedule-appointment">
          <mat-icon>add</mat-icon>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
      <mat-card-title style="display: flex; flex-direction: column; align-items: center; gap: 0.8rem">
        <mat-icon
          style="font-size: 1.7rem; width: auto; height: auto; margin-bottom: -8px; margin-right: 8px;color: darkslategray"
        >biotech</mat-icon>
        Solicitar exámen(es)
      </mat-card-title>
      <mat-card-content>
        <a mat-fab color="primary" routerLink="/main-patients/request-tests">
          <mat-icon>add</mat-icon>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="appointments" style="margin-top: 2rem; width: 80%">
    <h2>Mis consultas</h2>
    <div class="table-container">
      <table mat-table [dataSource]="appointments" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="speciality_name">
          <th mat-header-cell *matHeaderCellDef> Especialidad </th>
          <td mat-cell *matCellDef="let element"> {{element.speciality_name}} </td>
        </ng-container>
        <ng-container matColumnDef="medic_name">
          <th mat-header-cell *matHeaderCellDef> Paciente </th>
          <td mat-cell *matCellDef="let element"> {{element.medic_name}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="report">
          <th mat-header-cell *matHeaderCellDef> Reporte </th>
          <td mat-cell *matCellDef="let element"> {{element.report}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <a mat-button color="primary" [routerLink]="['/main-medics/appointments', element.id]">
              <mat-icon>visibility</mat-icon>
              DETALLES
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
