.main-container {
  margin: 3rem;
}

.actions-container {
  display: flex;
  /*justify-content: center;*/
  align-items: center;

  gap: 2rem;
}

.card-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
