<div class="container">
  <mat-card class="card">
    <mat-card-content>

      <form (ngSubmit)="onSubmit()" class="form" #registerForm="ngForm">

        <div class="fields">
          <p style="text-align: left; margin-bottom: -2px; margin-left: 8px"><strong>Tipo de usuario:</strong></p>
          <div class="user-types">
            <mat-radio-group [(ngModel)]="newUser.type" name="userType" required color="primary">
              <mat-radio-button value="patient">Paciente</mat-radio-button>
              <mat-radio-button value="medic">Médico</mat-radio-button>
              <mat-radio-button value="laboratory">Laboratorio </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Juan Perez" [(ngModel)]="newUser.name" name="name" required>
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="juan1234" [(ngModel)]="newUser.username" name="username" required>
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="********" [(ngModel)]="newUser.password" name="password" type="password" required>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="5ta Calle" [(ngModel)]="newUser.address" name="address" required>
            <mat-icon matSuffix>pin_drop_outlined</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="4327007" [(ngModel)]="newUser.phone" name="phone" maxlength="8" pattern="[0-9]*" required>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Correo electronico</mat-label>
            <input matInput placeholder="persona@email.com" [(ngModel)]="newUser.email" name="email" required>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>CUI</mat-label>
            <input matInput placeholder="3847473810903" [(ngModel)]="newUser.cui" name="cui" type="text" maxlength="13" pattern="[0-9]*" required>
            <mat-icon matSuffix>badge</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>
              <ng-container *ngIf="newUser.type === 'patient' || newUser.type === 'medic' ">Fecha de nacimiento</ng-container>
              <ng-container *ngIf="newUser.type === 'laboratory'">Fecha de fundación</ng-container>
            </mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Elige una fecha" [(ngModel)]="newUser.birthdate" name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="card-actions">
          <button mat-raised-button color="accent" type="submit" [disabled]="!registerForm.valid">
            <mat-icon>arrow_forward</mat-icon>
            CONTINUAR
          </button>
          <p style="text-align: center">
            <strong style="margin-right: 10px;">¿Ya tienes cuenta?</strong> <a style="margin-bottom: 3px" routerLink="/login" mat-button color="basic">INICIAR SESIÓN</a>
          </p>
        </div>

      </form>

    </mat-card-content>

  </mat-card>
</div>
