<div class="main-container">
  <mat-card class="commission-card">
    <mat-card-title>
      <h2>Actualizar porcentaje de comisión</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="commission-card-content">
        <app-update-commission-form
          (commissionEmitter)="saveNewCommission($event)"
        ></app-update-commission-form>
      </div>
      <h2>
        Historial de porcentaje de comisión
      </h2>
      <div class="commission-history-table">
        <app-commission-history-table></app-commission-history-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
