<mat-toolbar
  style="background-color: #ffd6b6"
  class="mat-elevation-z4"
>
  <span style="display: flex; flex-direction: row; align-items: center; gap: 0.6rem">
    <button mat-icon-button (click)="goBack()" color="basic">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <a routerLink="/main-medics/home" mat-button style="font-size: 1rem">
      <mat-icon>medical_information</mat-icon>
      <strong >MÉDICO • APLICACIÓN SALUD</strong>
    </a>
  </span>

  <div style="margin-left: 20px; display: flex; flex-direction: row; gap: 0.5rem;">
    <a mat-flat-button routerLink="/main-medics/edit" color="basic">
      <mat-icon>edit</mat-icon>
      PERFIL
    </a>
  </div>

  <span style="flex: 1 1 auto "></span>

  <div style="margin-left: 20px; display: flex; flex-direction: row; gap: 0.5rem;">
    <span style="font-size: 1rem;  display: flex; flex-direction: row; align-items: center;">
      <mat-icon style="margin-right: 0.4rem" >account_circle</mat-icon>
      {{ userName }}
    </span>
    <span style="font-size: 1rem;  display: flex; flex-direction: row; align-items: center;">
      <mat-icon style="margin-right: 0.4rem" >paid</mat-icon>
      Saldo: {{ balance }}
    </span>
    <button mat-flat-button (click)="logout()" color="basic">
      <mat-icon>exit_to_app</mat-icon>
      SALIR
    </button>
  </div>
</mat-toolbar>
