<div class="container">
  <mat-card class="card">
    <mat-card-content>

      <form (ngSubmit)="onSubmit()" class="form" #initialSetupForm="ngForm">
        <div class="fields">
          <p>
            <strong>Agrega los horarios en los que atenderás a tus pacientes.</strong>
          </p>
          <mat-form-field appearance="outline">
              <mat-label>Agregar horario</mat-label>
                <input matInput placeholder="Ejemplo: 08:00-12:00" [(ngModel)]="newSchedule" name="newSchedule">
                <button mat-button type="button" (click)="addSchedule()">
              <mat-icon>add</mat-icon>
              Agregar
            </button>
          </mat-form-field>

          <p>
            <strong>Horarios agregados</strong>
          </p>
          <p
            *ngIf="schedules.length === 0"
            style="color: #757575; font-style: italic; margin-top: -10px; margin-bottom: -10px; height: 1px;">
            No has agregado ningún horario.
          </p>
          <mat-list style="margin-top: -10px; height: 40px; overflow-y: auto; display: flex;flex-wrap: wrap; border: 1px solid #ccc; border-radius: 4px; padding: 6px">
            <mat-list-item *ngFor="let schedule of schedules" style="box-sizing: border-box; width: 200px">
              <span
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 100%;
                  gap: 0.6rem;
                  ">
                <mat-icon>schedule</mat-icon>
                {{ schedule }}
              </span>
            </mat-list-item>
          </mat-list>


          <p>
            <strong>
              Elige las especialidades que atenderás y el precio de cada una.
            </strong>
          </p>
          <div style="
              height: 400px;
              overflow: auto;
              margin-bottom: 20px;
              border: 1px solid #e0e0e0;
              border-radius: 4px;
            ">
            <table mat-table [dataSource]="specialities">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let speciality">
                  <mat-checkbox [(ngModel)]="speciality.selected" name="specialityCheckbox"></mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let speciality">{{ speciality.name }}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let speciality"
                  style="
                    max-width: 385px;
                    overflow: auto;
                  "
                >
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                  "
                  >
                    <button mat-icon-button type="button" (click)="showDescriptionDialog(speciality)">
                      <mat-icon>sms</mat-icon>
                    </button>
                    <span
                      style="
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      "
                    >
                      {{ speciality.description }}
                    </span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="price" >
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let speciality">
                  <mat-form-field appearance="outline" style="margin-top: 10px">
                    <input matInput type="number" [(ngModel)]="speciality.price" name="price">
                  </mat-form-field>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let speciality; columns: displayedColumns;"></tr>
            </table>
          </div>


        </div>

        <div class="card-actions">
          <button mat-raised-button color="accent" type="submit" [disabled]="!initialSetupForm.valid" >
            <mat-icon>save</mat-icon>
            GUARDAR
          </button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>
</div>
